*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main > h1{
    text-transform: capitalize;
    text-align: center;
    color: rgba(0, 76, 152, 0.753);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.319);
    text-decoration: underline;
}

.p::first-letter{
    font-size: 35px;
    color: brown;
    font-style: italic;
}

.p{
    line-height: 30px;
    font-size: 17px;
}

.p::first-line{
    font-style: italic;
    color: rgba(12, 35, 58, 0.814);
}

a{
    text-decoration: none;
    color: blue;
}

.footer{
    text-align: center;
    font-style: italic;
    color: #000000bf;
}

.footer:hover{
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: rgb(176, 169, 240);
}




